<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />

	<import resource="jms-api-context.xml"/>

	<bean class="org.ihtsdo.otf.rest.client.snowowl.SnowOwlRestClient">
		<constructor-arg value="${snowowl.url}"/>
		<constructor-arg value="${snowowl.username}"/>
		<constructor-arg value="${snowowl.password}"/>
		<property name="reasonerId" value="${snowowl.reasonerId}"/>
		<property name="logPath" value="${snowowl.log.path}"/>
		<property name="rolloverLogPath" value="${snowowl.rolloverLog.path}"/>
		<property name="importTimeoutMinutes" value="${snowowl.import.timeout}"/>
		<property name="classificationTimeoutMinutes" value="${snowowl.classification.timeout}"/>
		<property name="flatIndexExportStyle" value="${snowowl.flatIndexExportStyle:true}"/>
	</bean>
	
	<bean class="org.ihtsdo.orchestration.clients.srs.SRSRestClient">
		<constructor-arg value="${srs.root.url}"/>
		<constructor-arg value="${srs.username}"/>
		<constructor-arg value="${srs.password}"/>
	</bean>
	
	<bean class="org.ihtsdo.orchestration.clients.srs.SRSFileDAO">
		<constructor-arg value="${aws.bucket.refsets}"/>
		<constructor-arg value="${snowowl.flatIndexExportStyle:true}"/>
	</bean>
	
	<bean class="org.ihtsdo.orchestration.clients.rvf.RVFRestClient" >
		<constructor-arg value="${rvf.root.url}"/>
		<constructor-arg value="${rvf.pollPeriod}"/>
		<constructor-arg value="${rvf.timeout}"/>
	</bean>

	<!--<bean class="org.ihtsdo.otf.dao.s3.OfflineS3ClientImpl"/>-->

	<bean class="org.ihtsdo.otf.dao.s3.S3ClientImpl" >
		<constructor-arg>
			<bean class="com.amazonaws.auth.BasicAWSCredentials">
				<constructor-arg value="${aws.key}"/>
				<constructor-arg value="${aws.secretKey}"/>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean class="org.ihtsdo.orchestration.dao.OrchestrationProcessReportDAO">
		<constructor-arg value="${ts.reportsBucket}"/>
	</bean>

	<bean name="failureExportMax" class="java.lang.String">
		<constructor-arg value="${ts.rvf.failureExportMax:100}"/>
	</bean>
	
	<bean class="org.ihtsdo.orchestration.service.ValidationService" init-method="init"/>
	
	<bean class="org.ihtsdo.orchestration.service.ReleaseService">
		<constructor-arg value="${snowowl.flatIndexExportStyle}"/>
	</bean>
	
	<bean name="productName" class="java.lang.String">
		<constructor-arg value="${ts.rvf.product.name}"/>
	</bean>
</beans>
