<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config />

	<import resource="classpath*:common_context.xml"/>

	<bean class="org.ihtsdo.ts.importer.Application"/>

	<bean class="org.ihtsdo.ts.importer.Importer"/>

	<bean class="org.ihtsdo.ts.importer.snowowl.SnowOwlRestClient">
		<constructor-arg value="${snowowl.url}"/>
		<constructor-arg value="${snowowl.username}"/>
		<constructor-arg value="${snowowl.password}"/>
	</bean>

	<!-- TODO: Switch back to online S3 Client when finished testing -->
	<bean class="org.ihtsdo.otf.dao.s3.OfflineS3ClientImpl" />
	<!--<bean class="org.ihtsdo.otf.dao.s3.S3ClientImpl" >-->
		<!--<constructor-arg>-->
			<!--<bean class="com.amazonaws.auth.BasicAWSCredentials">-->
				<!--<constructor-arg value="${aws.key}"/>-->
				<!--<constructor-arg value="${aws.secretKey}"/>-->
			<!--</bean>-->
		<!--</constructor-arg>-->
	<!--</bean>-->

	<bean name="jiraImportProjectSync" class="org.ihtsdo.ts.importer.jira.JiraProjectSync">
		<constructor-arg value="${jira.importProjectKey}"/>
		<constructor-arg value="${jira.url}"/>
		<constructor-arg value="${jira.username}"/>
		<constructor-arg value="${jira.password}"/>
	</bean>

	<bean name="jiraContentProjectSync" class="org.ihtsdo.ts.importer.jira.JiraProjectSync">
		<constructor-arg value="${jira.contentProjectKey}"/>
		<constructor-arg value="${jira.url}"/>
		<constructor-arg value="${jira.username}"/>
		<constructor-arg value="${jira.password}"/>
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="location" value="ts-delta-import.properties"/>
	</bean>

</beans>
