<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config />

	<import resource="classpath*:common_context.xml"/>

	<bean class="org.springframework.scheduling.config.ScheduledTaskRegistrar">
		<property name="cronTasks">
			<map>
				<entry>
					<key>
						<bean class="org.ihtsdo.ts.importer.schedule.StartFilteredImport"/>
					</key>
					<value>${schedule.startDailyImport.cron}</value>
				</entry>
			</map>
		</property>
	</bean>

	<bean class="org.ihtsdo.ts.importer.ImporterService"/>
	
	<bean class="org.ihtsdo.ts.importer.Importer"/>

	<bean class="org.ihtsdo.ts.importer.clients.snowowl.SnowOwlRestClient">
		<constructor-arg value="${snowowl.url}"/>
		<constructor-arg value="${snowowl.username}"/>
		<constructor-arg value="${snowowl.password}"/>
	</bean>

	<!--<bean class="org.ihtsdo.otf.dao.s3.OfflineS3ClientImpl"/>-->

	<bean class="org.ihtsdo.otf.dao.s3.S3ClientImpl" >
		<constructor-arg>
			<bean class="com.amazonaws.auth.BasicAWSCredentials">
				<constructor-arg value="${aws.key}"/>
				<constructor-arg value="${aws.secretKey}"/>
			</bean>
		</constructor-arg>
	</bean>

	<bean name="jiraContentProjectSync" class="org.ihtsdo.ts.importer.clients.jira.JiraProjectSync">
		<constructor-arg value="${jira.contentProjectKey}"/>
		<constructor-arg value="${jira.url}"/>
		<constructor-arg value="${jira.username}"/>
		<constructor-arg value="${jira.password}"/>
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="location" value="+{propertiesFilePath}"/>
	</bean>

	<!-- Bean to resolve the properties file path from a system property -->
	<bean id="propertiesFilePathConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<property name="placeholderPrefix" value="+{"/>
		<property name="properties">
			<props>
				<!-- Default path to override properties file -->
				<prop key="propertiesFilePath">ts-delta-import.properties</prop>
			</props>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>

	<bean class="org.ihtsdo.ts.importer.clients.WorkbenchWorkflowClient"/>

	<bean class="org.ihtsdo.ts.importer.DevTestTool"/>

</beans>
